*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}

h1, h2, h3, h4, h5, h6,
p, span, a, li, button, input{
    font-family: "Poppins", sans-serif;
}

body{
    padding: 2rem 0;
}

.container{
    padding: 0 5rem;
}

.All-tab{
    padding: 2rem 0;
    .container{
        .all-tab-title{
            .title{
                text-align: center;
                font-size: 24px;
                margin-bottom: 1rem;
            }
        }
        .all-tab-div{
            margin: 0 auto;
            overflow: hidden;
            display: flex;
            width: fit-content;
            border: 1px solid rgb(200, 204, 207);
            border-radius: 0.5em;
            .active{
                background-color: #fff;
                color: black;
            }
            button{
                outline: none;
                cursor: pointer;
                border: none;
                padding: 10px 1rem;
                background: rgb(240, 244, 247);
                color: grey;
                font-size: 18px;
                &:not(:first-child):not(:last-child){
                    border-left: 1px solid rgb(200, 204, 207);
                    border-right: 1px solid rgb(200, 204, 207);
                }
                
            }
        }
    }
}

#Categories{
    .container{
        padding: 2rem 0 4rem;
        .all-items-div{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            column-gap: 3rem;
            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                span{
                    margin-top: 10px;
                }
            }
        }
    }
}

#Tab-divs{
    .container{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: .9fr 3fr;

        .left{
            padding: 0 35px 0 0;
            .gallery{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                border-bottom: 1px solid #d9d9d9;
                cursor: pointer;
                p{
                    font-size: 14px;
                    padding: 15px 0;
                    span{
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
                .icon-div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5px;
                }
            }
            #gallery-sub{
                overflow-y: scroll;
                height: 0px;
                transition: .3s;
                ul{
                    border-bottom: 1px solid #d9d9d9;
                    padding: 5px 0 10px;
                    li{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 12px 0;
                        list-style-type: none;
                        cursor: pointer;
                    }
                }
            }
            .neckline{
                display: flex;
                flex-direction: column;
                
                .name-div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0;
                    cursor: pointer;
                    span{
                        font-weight: bold;
                    }
                }

                .input-div{
                    position: relative;
                    input{
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 400;
                        border: 1px solid #d9d9d9;
                        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
                        display: block;
                        padding: 10px 25px 10px 10px;
                        border-radius: 3px;
                        width: 100%;
                        box-sizing: border-box;
                    }
                    i{
                        transform: translateY(-50%);
                        top: 50%;
                        right: 10px;
                        position: absolute;
                        font-size: 24px;
                        line-height: 20px;
                        user-select: none;
                        color: #8c8c8c;
                        font-size: 20px;
                        appearance: none;
                        transition: all .3s;
                        user-select: none;
                        opacity: 1;
                        cursor: pointer;
                        border: 0;
                        background: 0 0;
                        outline: 0;
                    }
                }
            }
            #neckline-sub{
                display: grid;
                grid-template-columns: 1fr 1fr;
                max-height: 230px;
                overflow-y: auto;
                transition: .3s;
                border-bottom: 1px solid #d9d9d9;
                .item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 10px;
                    padding: 1rem 0;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(238, 208, 238);
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
            .silhouette{
                display: flex;
                flex-direction: column;
                
                .name-div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0;
                    cursor: pointer;
                    span{
                        font-weight: bold;
                    }
                }

                .input-div{
                    position: relative;
                    input{
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 400;
                        border: 1px solid #d9d9d9;
                        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
                        display: block;
                        padding: 10px 25px 10px 10px;
                        border-radius: 3px;
                        width: 100%;
                        box-sizing: border-box;
                    }
                    i{
                        transform: translateY(-50%);
                        top: 50%;
                        right: 10px;
                        position: absolute;
                        font-size: 24px;
                        line-height: 20px;
                        user-select: none;
                        color: #8c8c8c;
                        font-size: 20px;
                        appearance: none;
                        transition: all .3s;
                        user-select: none;
                        opacity: 1;
                        cursor: pointer;
                        border: 0;
                        background: 0 0;
                        outline: 0;
                    }
                }
            }
            #silhouette-sub{
                display: grid;
                grid-template-columns: 1fr 1fr;
                max-height: 230px;
                overflow-y: auto;
                transition: .3s;
                border-bottom: 1px solid #d9d9d9;
                .item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 10px;
                    padding: 1rem 0;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(238, 208, 238);
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
            .color{
                display: flex;
                flex-direction: column;
                
                .name-div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0;
                    cursor: pointer;
                    span{
                        font-weight: bold;
                    }
                }

                .input-div{
                    position: relative;
                    input{
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 400;
                        border: 1px solid #d9d9d9;
                        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
                        display: block;
                        padding: 10px 25px 10px 10px;
                        border-radius: 3px;
                        width: 100%;
                        box-sizing: border-box;
                    }
                    i{
                        transform: translateY(-50%);
                        top: 50%;
                        right: 10px;
                        position: absolute;
                        font-size: 24px;
                        line-height: 20px;
                        user-select: none;
                        color: #8c8c8c;
                        font-size: 20px;
                        appearance: none;
                        transition: all .3s;
                        user-select: none;
                        opacity: 1;
                        cursor: pointer;
                        border: 0;
                        background: 0 0;
                        outline: 0;
                    }
                }
            }
            #color-sub{
                overflow-y: auto;
                max-height: 230px;
                transition: .3s;
                border-bottom: 1px solid #d9d9d9;
                ul{
                    padding: 5px 0 10px;
                    li{
                        list-style-type: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 12px 0;
                        cursor: pointer;
                    }
                }
            }
            .fabric{
                display: flex;
                flex-direction: column;
                
                .name-div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0;
                    cursor: pointer;
                    span{
                        font-weight: bold;
                    }
                }

                .input-div{
                    position: relative;
                    input{
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 400;
                        border: 1px solid #d9d9d9;
                        box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
                        display: block;
                        padding: 10px 25px 10px 10px;
                        border-radius: 3px;
                        width: 100%;
                        box-sizing: border-box;
                    }
                    i{
                        transform: translateY(-50%);
                        top: 50%;
                        right: 10px;
                        position: absolute;
                        font-size: 24px;
                        line-height: 20px;
                        user-select: none;
                        color: #8c8c8c;
                        font-size: 20px;
                        appearance: none;
                        transition: all .3s;
                        user-select: none;
                        opacity: 1;
                        cursor: pointer;
                        border: 0;
                        background: 0 0;
                        outline: 0;
                    }
                }
            }
            #fabric-sub{
                overflow-y: auto;
                max-height: 230px;
                transition: .3s;
                border-bottom: 1px solid #d9d9d9;
                margin-top: 20px;
                ul{
                    padding: 5px 0 10px;
                    li{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 12px 0;
                        cursor: pointer;
                    }
                }
            }
            .price{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                cursor: pointer;
                span{
                    font-weight: bold;
                }
            }
            #price-sub{
                width: 100%;
                background: #fff;
                max-height: 230px;
                transition: .3s;
                border-bottom: 1px solid #d9d9d9;
                overflow-y: auto;
                .price-input {
                    width: 100%;
                    display: flex;
                    margin: 10px 0 35px;
                    .field {
                        display: flex;
                        width: 100%;
                        height: 45px;
                        align-items: center;
                    }
                    .separator {
                        width: 70px;
                        display: flex;
                        font-size: 19px;
                        align-items: center;
                        justify-content: center;
                    }
                    .field {
                        input {
                            width: 100%;
                            height: 100%;
                            outline: none;
                            font-size: 18px;
                            margin-left: 12px;
                            border-radius: 5px;
                            text-align: center;
                            border: 1px solid #999;
                            -moz-appearance: textfield;
                        }
                    }
                    input[type="number"] {
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                        }
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                    }
                }
                .slider {
                    height: 5px;
                    position: relative;
                    background: #ddd;
                    border-radius: 5px;
                    .progress {
                        height: 100%;
                        left: 0%;
                        right: 0%;
                        position: absolute;
                        border-radius: 5px;
                        background: #17A2B8;
                    }
                }
                .range-input {
                    position: relative;
                    margin-bottom: 20px;
                    input {
                        position: absolute;
                        width: 100%;
                        height: 5px;
                        top: -5px;
                        background: none;
                        pointer-events: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }
                    input[type="range"] {
                        &::-webkit-slider-thumb {
                            height: 17px;
                            width: 17px;
                            border-radius: 50%;
                            background: #17A2B8;
                            pointer-events: auto;
                            -webkit-appearance: none;
                            box-shadow: 0 0 6px rgba(0,0,0,0.05);
                        }
                        &::-moz-range-thumb {
                            height: 17px;
                            width: 17px;
                            border: none;
                            border-radius: 50%;
                            background: #17A2B8;
                            pointer-events: auto;
                            -moz-appearance: none;
                            box-shadow: 0 0 6px rgba(0,0,0,0.05);
                        }
                    }
                }
                
            }
            
        }

        .right{
            .element{
                display: grid;
            }
    
            .Cards{
                .inner-container{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1rem;
                    grid-template-rows: auto;
                    .card.bridal{
                        cursor: pointer;
                        position: relative;
                        border-radius: 8px;
                        box-shadow: 0px 3px 3px #eeeeee;
                        overflow: hidden;
                        display: grid;
                        grid-template-rows: 280px auto;
                        transition: .3s;
                        &:hover{
                            box-shadow: 0px 3px 3px 3px #d6d6d6;
                            transform: scale(1.01);
                            i.fa-solid{
                                top: 8px;
                                right: 8px;
                                color: #fff;
                                transform: rotate(90deg);
                                background-color: red;
                                padding: 4px 8px;
                                -webkit-text-stroke-width: 0.5px;
                                -webkit-text-stroke-color: black;
                            }
                            img.main-image{
                                opacity: 0;
                            }
                        }
                        .featured{
                            background-color: #d8b74e;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            padding: 4px 4px 4px 0;
                            line-height: 1em;
                            color: #fff;
                            position: absolute;
                            top: 10px;
                            left: 0px;
                            font-size: 14px;
                            z-index: 99;
                            pointer-events: none;
                            clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 0 0);
                        }
                        i.fa-solid{
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            font-size: 22px;
                            color: rgba(63, 63, 63, 0.491);
                            transition: .3s;
                            border-radius: 50%;
                            z-index: 99;
                            cursor: pointer;
                        }
                        img{
                            height: 280px;
                            width: 100%;
                            object-fit: cover;
                            object-position: top center;
                        }
                        img.main-image{
                            position: absolute;
                            transition: .4s;
                            &:hover{
                                opacity: 0;
                            }
                        }
                        .card-body{
                            padding: 8px 15px;
                            display: flex;
                            text-align: start;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 5px;
                            position: relative;
                            overflow: hidden;
                            .card-title{
                                font-family: 'Poppins', sans-serif;
                                font-size: 18px;
                                font-weight: 900;
                                text-decoration: none solid rgb(36, 36, 36);
                                color: #242424;
                                margin: 0;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                            .details{
                                display: flex;
                                justify-content: space-between;
                                overflow: hidden;
                                .sub-title{
                                    flex: 1;
                                    overflow: hidden;
                                    p.card-text{
                                        margin: 0;
                                        font-family: 'Poppins', sans-serif;
                                        font-size: 14px;
                                        text-decoration: none solid rgb(33, 37, 41);
                                        color: #212529;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        
                                    }
                                }
                                .price-div{
                                    display: grid;
                                    grid-template-columns: auto auto;
                                    gap: 5px;
                                    flex: 1;
                                    overflow: hidden;
                                    justify-content: end;
                                    p{
                                        margin: 0;
                                        font-family: 'Poppins', sans-serif;
                                        font-size: 14px;
                                        text-decoration: none solid rgb(33, 37, 41);
                                        color: #212529;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (min-width: 768px) and (max-width: 992px) {
    .container{
        padding: 0 25px;
    }
    #Tab-divs{
        #Cards-div{
            .inner-container{
                grid-template-columns: repeat(3, 1fr);
                .card{
                    .card-body{
                        .details{
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            .left, .right{
                                grid-template-columns: 20px auto;
                                i{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container{
        padding: 0 10px;
    }
    #Tab-divs{
        #Cards-div{
            .inner-container{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 600px) {
    #All-tab{
        padding: 1rem 0;   
        .all-tab-title{
            .title.tab-title{
                font-size: 20px;
            }
        }
        .all-tab-div{
            button{
                font-size: 16px;
                padding: 7px 12px;
            }
        }
    }
    #Tab-divs{
        .container{
            #Cards-div{
                padding-top: 1rem;
            }
        }
        .element{
            .title-div{
                h1{
                    font-size: 20px;
                }
            }
        }
        #Cards-div{
            .inner-container{
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                .card{
                    grid-template-rows: 160px auto;
                    border-radius: 8px;
                    img{
                        height: 160px;
                    }
                    .card-body{
                        padding: 4px 8px;
                        .card-title{
                            font-size: 14px;
                        }
                        .details{
                            gap: 5px;
                            .sub-title{
                                p{
                                    font-size: 12px;
                                }
                            }
                            .left, .right, .price-div{
                                svg{
                                    width: 16px;
                                }
                                p{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    #Cards-div{
        .inner-container{
            .card{
                .card-body{
                    .details{
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;
                        .left, .right{
                            grid-template-columns: 20px auto;
                        }
                        .sub-title{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 992px) and (max-width: 1100px) {
    #Tab-divs{
        #Cards-div{
            .inner-container{
                grid-template-columns: repeat(3, 1fr);
                .card{
                    .card-body{
                        .details{
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            .left, .right{
                                grid-template-columns: 20px auto;
                                i{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}