* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

.noscrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

h1, h2, h3, h4, h5, h6,
p, span, a, li, button, input {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 2rem 0;
}

.container {
  padding: 0 5rem;
}

#Categories .container {
  padding: 2rem 0 4rem;
}
#Categories .container .all-items-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
#Categories .container .all-items-div .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#Categories .container .all-items-div .item span {
  margin-top: 10px;
}

#Tab-divs .container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 260px auto;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
#Tab-divs .container .left {
  width: 260px;
  margin: 0 35px 0 0;
  transition: 0.4s;
}
#Tab-divs .container .left #close-div {
  display: none;
  align-items: center;
  padding: 1.5rem 0 2rem 15px;
  justify-content: end;
}
#Tab-divs .container .left #close-div span {
  cursor: pointer;
}
#Tab-divs .container .left #close-div span i {
  margin-left: 5px;
}
#Tab-divs .container .left .gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}
#Tab-divs .container .left .gallery p {
  font-size: 14px;
  padding: 15px 0;
}
#Tab-divs .container .left .gallery p span {
  font-size: 18px;
  font-weight: 500;
}
#Tab-divs .container .left .gallery .icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
#Tab-divs .container .left #gallery-sub {
  overflow-y: scroll;
  height: 0px;
  transition: 0.3s;
}
#Tab-divs .container .left #gallery-sub ul {
  border-bottom: 1px solid #d9d9d9;
  padding: 5px 0 10px;
}
#Tab-divs .container .left #gallery-sub ul li {
  list-style-type: none;
}
#Tab-divs .container .left #gallery-sub ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  list-style-type: none;
  cursor: pointer;
}
#Tab-divs .container .left #gallery-sub ul li a span {
  font-size: 15px;
}
#Tab-divs .container .left .gender {
  display: flex;
  flex-direction: column;
}
#Tab-divs .container .left .gender .name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
#Tab-divs .container .left .gender .name-div span {
  font-size: 18px;
  font-weight: 500;
}
#Tab-divs .container .left #gender-sub {
  overflow-y: auto;
  max-height: 230px;
  transition: 0.3s;
  border-bottom: 1px solid #d9d9d9;
  background-color: transparent;
}
#Tab-divs .container .left #gender-sub ul {
  padding: 5px 0 10px;
}
#Tab-divs .container .left #gender-sub ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#Tab-divs .container .left #gender-sub ul li span {
  font-size: 15px;
}
#Tab-divs .container .left #gender-sub ul li:not(:first-child) {
  padding: 12px 0;
}
#Tab-divs .container .left #gender-sub ul li:first-child {
  padding: 0 0 12px;
}
#Tab-divs .container .left .color {
  display: flex;
  flex-direction: column;
}
#Tab-divs .container .left .color .name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
#Tab-divs .container .left .color .name-div span {
  font-size: 18px;
  font-weight: 500;
}
#Tab-divs .container .left .color .input-div {
  position: relative;
}
#Tab-divs .container .left .color .input-div input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid #d9d9d9;
  display: block;
  padding: 5px 25px 5px 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
#Tab-divs .container .left .color .input-div i {
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  position: absolute;
  font-size: 24px;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #8c8c8c;
  font-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 0.3s;
  user-select: none;
  opacity: 1;
  cursor: pointer;
  border: 0;
  background: 0 0;
  outline: 0;
}
#Tab-divs .container .left #color-sub {
  overflow-y: auto;
  max-height: 230px;
  transition: 0.3s;
  margin-top: 20px;
  border-bottom: 1px solid #d9d9d9;
  background-color: transparent;
}
#Tab-divs .container .left #color-sub ul {
  padding: 5px 0 10px;
}
#Tab-divs .container .left #color-sub ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#Tab-divs .container .left #color-sub ul li span {
  font-size: 15px;
}
#Tab-divs .container .left #color-sub ul li:not(:first-child) {
  padding: 12px 0;
}
#Tab-divs .container .left #color-sub ul li:first-child {
  padding: 0 0 12px;
}
#Tab-divs .container .left .fabric {
  display: flex;
  flex-direction: column;
}
#Tab-divs .container .left .fabric .name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
#Tab-divs .container .left .fabric .name-div span {
  font-size: 18px;
  font-weight: 500;
}
#Tab-divs .container .left .fabric .input-div {
  position: relative;
}
#Tab-divs .container .left .fabric .input-div input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid #d9d9d9;
  display: block;
  padding: 5px 25px 5px 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
#Tab-divs .container .left .fabric .input-div i {
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  position: absolute;
  font-size: 24px;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #8c8c8c;
  font-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 0.3s;
  user-select: none;
  opacity: 1;
  cursor: pointer;
  border: 0;
  background: 0 0;
  outline: 0;
}
#Tab-divs .container .left #fabric-sub {
  overflow-y: auto;
  max-height: 230px;
  transition: 0.3s;
  margin-top: 20px;
  border-bottom: 1px solid #d9d9d9;
}
#Tab-divs .container .left #fabric-sub ul {
  padding: 5px 0 10px;
}
#Tab-divs .container .left #fabric-sub ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#Tab-divs .container .left #fabric-sub ul li span {
  font-size: 15px;
}
#Tab-divs .container .left #fabric-sub ul li:not(:first-child) {
  padding: 12px 0;
}
#Tab-divs .container .left #fabric-sub ul li:first-child {
  padding: 0 0 12px;
}
#Tab-divs .container .left .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
#Tab-divs .container .left .price span {
  font-size: 18px;
  font-weight: 500;
}
#Tab-divs .container .left #price-sub {
  width: 100%;
  background: #fff;
  max-height: 230px;
  transition: 0.3s;
  border-bottom: 1px solid #d9d9d9;
  overflow-y: auto;
}
#Tab-divs .container .left #price-sub .price-input {
  width: 100%;
  display: flex;
  margin: 10px 0 35px;
}
#Tab-divs .container .left #price-sub .price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
#Tab-divs .container .left #price-sub .price-input .separator {
  width: 70px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
#Tab-divs .container .left #price-sub .price-input .field input {
  width: 60px;
  padding: 5px;
  outline: none;
  font-size: 15px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
#Tab-divs .container .left #price-sub .price-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#Tab-divs .container .left #price-sub .price-input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#Tab-divs .container .left #price-sub .slider {
  height: 3px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
#Tab-divs .container .left #price-sub .slider .progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #17A2B8;
}
#Tab-divs .container .left #price-sub .range-input {
  position: relative;
  margin-bottom: 20px;
}
#Tab-divs .container .left #price-sub .range-input input {
  position: absolute;
  width: 100%;
  height: 4px;
  top: -4px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#Tab-divs .container .left #price-sub .range-input input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
#Tab-divs .container .left #price-sub .range-input input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
#Tab-divs .container .right .element {
  display: grid;
}
#Tab-divs .container .right .upper-cards-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#Tab-divs .container .right .upper-cards-div #searchresulttext {
  color: gray;
}
#Tab-divs .container .right .upper-cards-div .fa-solid.fa-sliders {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  border: 2px solid #000;
  background: #fff;
  padding: 10px;
  transition: 0.3s;
}
#Tab-divs .container .right .upper-cards-div .fa-solid.fa-sliders:hover {
  background-color: #000;
  color: #fff;
}
#Tab-divs .container .right .upper-cards-div .dropdown {
  position: relative;
  display: inline-block;
}
#Tab-divs .container .right .upper-cards-div .dropdown .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 5px 1rem;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Tab-divs .container .right .upper-cards-div .dropdown .dropbtn span {
  pointer-events: none;
}
#Tab-divs .container .right .upper-cards-div .dropdown .dropbtn i {
  transition: 0.4s;
  pointer-events: none;
}
#Tab-divs .container .right .upper-cards-div .dropdown .dropbtn:hover {
  background-color: #2980B9;
}
#Tab-divs .container .right .upper-cards-div .dropdown .dropdown-content {
  display: block;
  position: absolute;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
  height: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.4s;
  border-radius: 8px;
}
#Tab-divs .container .right .upper-cards-div .dropdown .dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
#Tab-divs .container .right .upper-cards-div .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
#Tab-divs .container .right .Cards .inner-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-template-rows: auto;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal {
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 3px 3px #eeeeee;
  overflow: hidden;
  display: grid;
  grid-template-rows: 240px auto;
  transition: 0.3s;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal:hover {
  box-shadow: 0px 3px 3px 3px #d6d6d6;
  transform: scale(1.01);
}
#Tab-divs .container .right .Cards .inner-container .card.bridal:hover i.fa-solid {
  top: 8px;
  right: 8px;
  color: #fff;
  transform: rotate(90deg);
  background-color: red;
  padding: 4px 8px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal:hover img.main-image {
  opacity: 0;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal .featured {
  background-color: #d8b74e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 4px 4px 4px 0;
  line-height: 1em;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 14px;
  z-index: 99;
  pointer-events: none;
  -webkit-clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 0 0);
}
#Tab-divs .container .right .Cards .inner-container .card.bridal i.fa-solid {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: rgba(63, 63, 63, 0.491);
  transition: 0.3s;
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal img {
  height: 240px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal img.main-image {
  position: absolute;
  transition: 0.4s;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal img.main-image:hover {
  opacity: 0;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal .card-body {
  padding: 8px 15px;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: relative;
  overflow: hidden;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal .card-body .card-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 900;
  -webkit-text-decoration: none solid rgb(36, 36, 36);
          text-decoration: none solid rgb(36, 36, 36);
  color: #242424;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal .card-body .details {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal .card-body .details .sub-title {
  flex: 1;
  overflow: hidden;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal .card-body .details .sub-title p.card-text {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  -webkit-text-decoration: none solid rgb(33, 37, 41);
          text-decoration: none solid rgb(33, 37, 41);
  color: #212529;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal .card-body .details .price-div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  flex: 1;
  overflow: hidden;
  justify-content: end;
}
#Tab-divs .container .right .Cards .inner-container .card.bridal .card-body .details .price-div p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  -webkit-text-decoration: none solid rgb(33, 37, 41);
          text-decoration: none solid rgb(33, 37, 41);
  color: #212529;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    padding: 0 25px;
  }
  #Tab-divs #Cards-div .inner-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details .left, #Tab-divs #Cards-div .inner-container .card .card-body .details .right {
    grid-template-columns: 20px auto;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details .left i, #Tab-divs #Cards-div .inner-container .card .card-body .details .right i {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  #Tab-divs .left .gallery p {
    font-size: 12px !important;
  }
  #Tab-divs .left .gallery p span {
    font-size: 16px !important;
  }
  #Tab-divs .left .neckline .name-div span, #Tab-divs .left .silhouette .name-div span, #Tab-divs .left .color .name-div span, #Tab-divs .left .fabric .name-div span, #Tab-divs .left .gender .name-div span {
    font-size: 16px !important;
  }
  #Tab-divs .left .price span {
    font-size: 16px !important;
  }
  #Tab-divs #Cards-div .inner-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #Tab-divs #Cards-div .inner-container .card {
    grid-template-rows: 360px auto;
  }
  #Tab-divs #Cards-div .inner-container .card img {
    height: 360px;
  }
}
@media (max-width: 600px) {
  #Categories .container {
    padding: 2rem 0 2rem;
  }
  #Categories .container .all-items-div {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  #Categories .container .all-items-div a span {
    font-size: 14px !important;
  }
  #All-tab {
    padding: 1rem 0;
  }
  #All-tab .all-tab-title .title.tab-title {
    font-size: 20px;
  }
  #All-tab .all-tab-div button {
    font-size: 16px;
    padding: 7px 12px;
  }
  #Tab-divs .container #Cards-div {
    padding-top: 1rem;
  }
  #Tab-divs .element .title-div h1 {
    font-size: 20px;
  }
  #Tab-divs #Cards-div .inner-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  #Tab-divs #Cards-div .inner-container .card {
    grid-template-rows: 280px auto;
    border-radius: 8px;
  }
  #Tab-divs #Cards-div .inner-container .card img {
    height: 280px;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body {
    padding: 4px 8px;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .card-title {
    font-size: 14px;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details {
    gap: 5px;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details .sub-title p {
    font-size: 12px;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details .left svg, #Tab-divs #Cards-div .inner-container .card .card-body .details .right svg, #Tab-divs #Cards-div .inner-container .card .card-body .details .price-div svg {
    width: 16px;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details .left p, #Tab-divs #Cards-div .inner-container .card .card-body .details .right p, #Tab-divs #Cards-div .inner-container .card .card-body .details .price-div p {
    font-size: 12px;
  }
}
@media (max-width: 1300px) {
  #Tab-divs .container {
    grid-template-columns: auto;
  }
  #Tab-divs .container .left {
    overflow-y: scroll;
    padding-bottom: 3rem !important;
    margin: 0;
    height: 100%;
    width: 320px;
    position: fixed;
    left: -330px;
    top: 0;
    z-index: 999;
    padding: 0 40px;
    background-color: #fff;
    box-shadow: 0 1px 12px 2px hsla(0deg, 0%, 56%, 0.3);
  }
  #Tab-divs .container .left #close-div {
    display: flex;
  }
  #Tab-divs .container .right #opensidebar {
    display: inline-block;
  }
  #Tab-divs .container .right #searchresulttext {
    display: none;
  }
  #Cards-div .inner-container .card .card-body .details {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  #Cards-div .inner-container .card .card-body .details .left, #Cards-div .inner-container .card .card-body .details .right {
    grid-template-columns: 20px auto;
  }
  #Cards-div .inner-container .card .card-body .details .sub-title {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  #Tab-divs #Cards-div .inner-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details .left, #Tab-divs #Cards-div .inner-container .card .card-body .details .right {
    grid-template-columns: 20px auto;
  }
  #Tab-divs #Cards-div .inner-container .card .card-body .details .left i, #Tab-divs #Cards-div .inner-container .card .card-body .details .right i {
    text-align: center;
  }
}/*# sourceMappingURL=ringdesign.css.map */